<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
        <title>Dashboard Admin</title>
    </head>
    <body style="background-color: #F6F1F1;">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/admin-page/dashboard">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="courtDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Court
                    </a>
                    <div class="dropdown-menu" aria-labelledby="courtDropdown">
                        <a class="dropdown-item" href="/lapangan-page/create">Add Court</a>
                        <a class="dropdown-item" href="/operasional-lapangan-page/create">Close Court</a>
                        <a class="dropdown-item" href="/operasional-lapangan-page/closed/all">Closed Court</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="couponDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Coupon
                    </a>
                    <div class="dropdown-menu" aria-labelledby="couponDropdown">
                        <a class="dropdown-item" href="/admin-coupon-page/get-all-coupon">List of Coupons</a>
                        <a class="dropdown-item" href="/admin-coupon-page/create">Create Coupon</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="nb">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="/logout" type="button" class="btn btn-outline-danger my-2" id="logout">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="p-5 mb-2 bg-dark text-center">
        <h1 class="fw-bold text-white">Welcome Back, Admin!</h1>
    </div>
    <div class="container p-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-12">
                <div class="card bg-white text-dark shadow-lg border-1">
                    <div class="card-body p-5 text-center">
                        <div class = "dashboard">
                            <a class="m-auto"><img th:src="@{/img/logo.png}" class="img-fluid" style="width: 150px; height: auto;"></a>
                            <div class="h4 mb-4">Dashboard Admin</div>
                            <div class="container">
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <a style="font-weight: bold">Today's Date:</a>
                                        <a th:text="${todayDate}"></a>
                                    </div>
                                </div>
                                <h2 class="mb-2">All Reservations</h2>
                                <div th:if="${reservationNotEmpty}">
                                    <table class="table mx-auto table-responsive" style="max-width: content-box">
                                        <thead class="table-dark">
                                        <tr>
                                            <th scope="col" class="align-middle">Reservation ID</th>
                                            <th scope="col" class="align-middle">User Email</th>
                                            <th scope="col" class="align-middle">Date</th>
                                            <th scope="col" class="align-middle">Booked Time</th>
                                            <th scope="col" class="align-middle">Court ID</th>
                                            <th scope="col" class="align-middle">Status</th>
                                            <th scope="col" class="align-middle">Payment Proof</th>
                                            <th scope="col" class="align-middle">Accept</th>
                                            <th scope="col" class="align-middle">Reject</th>
                                        </tr>
                                        </thead>
                                        <tr th:each="reservation: ${allReservationList}">
                                            <th class="align-middle" scope="row" th:text="${reservation.getId()}"></th>
                                            <td class="align-middle" th:text="${reservation.getEmailUser()}"></td>
                                            <td class="align-middle" th:text="${#temporals.format(reservation.getWaktuMulai(), 'dd-MM-yyyy')}"></td>
                                            <td class="align-middle" th:text="${#temporals.format(reservation.getWaktuMulai(), 'HH:mm')} + ' - ' + ${#temporals.format(reservation.getWaktuBerakhir(), 'HH:mm')}"></td>
                                            <td class="align-middle" th:text="${reservation.getIdLapangan()}"></td>
                                            <td class="align-middle" th:switch="${reservation.getStatusPembayaran()}">
                                                <span th:case="'MENUNGGU_PEMBAYARAN'" class="badge badge-primary">Menunggu Pembayaran</span>
                                                <span th:case="'MENUNGGU_KONFIRMASI'" class="badge badge-info">Menunggu Konfirmasi</span>
                                                <span th:case="'TERKONFIRMASI'" class="badge badge-success">Terkonfirmasi</span>
                                                <span th:case="'BATAL'" class="badge badge-danger">Batal</span>
                                            </td>
                                            <td class="align-middle" th:if="${reservation.getBuktiTransfer()}">
                                                <a role="button" th:url="${reservation.getBuktiTransfer()}" class="btn btn-primary text-light btn-sm" onclick="openLink(this.getAttribute('url'))">Open URL</a>
                                            </td>
                                            <td class="align-middle" th:unless="${reservation.getBuktiTransfer()}">
                                                <a role="button" th:url="${reservation.getBuktiTransfer()}" class="btn btn-primary text-light disabled btn-sm" onclick="openLink(this.getAttribute('url'))">Open URL</a>
                                            </td>
                                            <td class="align-middle" th:switch="${reservation.getStatusPembayaran()}">
                                                <a role="button" th:case="'MENUNGGU_PEMBAYARAN'" th:resId="${reservation.getId()}" class="btn btn-success mb-3 disabled text-light btn-sm" onclick="acceptReservation(this.getAttribute('resId'))">Accept</a>
                                                <a role="button" th:case="'MENUNGGU_KONFIRMASI'" th:resId="${reservation.getId()}" class="btn btn-success mb-3 text-light btn-sm" onclick="acceptReservation(this.getAttribute('resId'))">Accept</a>
                                                <a role="button" th:case="'TERKONFIRMASI'" th:resId="${reservation.getId()}" class="btn btn-success mb-3 disabled text-light btn-sm" onclick="acceptReservation(this.getAttribute('resId'))">Accept</a>
                                                <a role="button" th:case="'BATAL'" th:resId="${reservation.getId()}" class="btn btn-success mb-3 disabled text-light btn-sm" onclick="acceptReservation(this.getAttribute('resId'))">Accept</a>
                                            </td>
                                            <td class="align-middle" th:switch="${reservation.getStatusPembayaran()}">
                                                <a role="button" th:case="'MENUNGGU_PEMBAYARAN'" th:resId="${reservation.getId()}" class="btn btn-danger mb-3 disabled text-light btn-sm" onclick="rejectReservation(this.getAttribute('resId'))">Reject</a>
                                                <a role="button" th:case="'MENUNGGU_KONFIRMASI'" th:resId="${reservation.getId()}" class="btn btn-danger mb-3 text-light btn-sm" onclick="rejectReservation(this.getAttribute('resId'))">Reject</a>
                                                <a role="button" th:case="'TERKONFIRMASI'" th:resId="${reservation.getId()}" class="btn btn-danger mb-3 disabled text-light btn-sm" onclick="rejectReservation(this.getAttribute('resId'))">Reject</a>
                                                <a role="button" th:case="'BATAL'" th:resId="${reservation.getId()}" class="btn btn-danger mb-3 disabled text-light btn-sm" onclick="rejectReservation(this.getAttribute('resId'))">Reject</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div th:unless="${reservationNotEmpty}">
                                    <div class="text-center">No Reservation for Today</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer text-center p-3" style="background-color: white;">
        <div class="p">© 2023 <strong>BookinginGORKutek</strong> by <strong>Kelompok B2</strong>✨</div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <!--Javascript-->
    <script th:inline="javascript" type="text/javascript">
        function acceptReservation(id) {
            const xhttp = new XMLHttpRequest();
            xhttp.open("PUT", "/api/v1/frontend/status/update/" + id, false);
            xhttp.setRequestHeader("Content-Type", "application/json");

            xhttp.onload = () => {
                if(xhttp.status === 200){
                    window.alert("Reservation accepted!");
                    window.location.replace("/admin-page/dashboard");
                }else{
                    window.alert((JSON.parse(xhttp.response).message));
                }
            }

            xhttp.send(JSON.stringify({
                "emailUser": null,
                "statusPembayaran": "TERKONFIRMASI",
                "buktiTransfer": null,
                "waktuMulai": null,
                "waktuBerakhir": null,
                "tambahanQuantity": null,
                "kuponId": null
            }));
        }

        function rejectReservation(id) {
            const xhttp = new XMLHttpRequest();
            xhttp.open("PUT", "/api/v1/frontend/status/update/" + id, false);
            xhttp.setRequestHeader("Content-Type", "application/json");

            xhttp.onload = () => {
                if(xhttp.status === 200){
                    window.alert("Reservation rejected!");
                    window.location.replace("/admin-page/dashboard");
                }else{
                    window.alert((JSON.parse(xhttp.response).message));
                }
            }

            xhttp.send(JSON.stringify({
                "emailUser": null,
                "statusPembayaran": "BATAL",
                "buktiTransfer": null,
                "waktuMulai": null,
                "waktuBerakhir": null,
                "tambahanQuantity": null,
                "kuponId": null
            }));
        }

        function openLink(url){
            window.open(url);
        }
    </script>
    </body>
</html>